version: 2.1

references:
  environment: &environment
    REPO_NAME: emmercm/qbittorrent

executors:
  docker:
    docker:
      - image: docker:stable

jobs:
  dummy:
    executor: docker
    steps:
      - run:
          name: Dummy
          command: echo ok

  lint:
    parameters:
      version:
        type: string
    executor: docker
    environment:
      VERSION: << parameters.version >>
      <<: *environment
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run hadolint
          command: |
            cd "${VERSION}"
            docker run --rm --interactive hadolint/hadolint < Dockerfile

  build:
    parameters:
      version:
        type: string
      tags:
        type: string
        default: ''
    executor: docker
    environment:
      VERSION: << parameters.version >>
      TAGS: << parameters.tags >>
      <<: *environment
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v4-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ .Revision }}
            - v4-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-
            - v4-{{ .Environment.CIRCLE_JOB }}-
          paths:
            - /cache
      - run:
          name: Load Docker Image(s) from Cache
          command: |
            for TAR in $(ls -1 /cache/*.tar); do
              docker load --input "${TAR}"
              rm "${TAR}"
            done
      - run:
          name: Build Docker Image
          command: |
            cd "${VERSION%.*}"
            docker build \
              --cache-from="${REPO_NAME}:${VERSION}" \
              --build-arg VERSION="${VERSION}" \
              --tag "${REPO_NAME}:${VERSION}" \
              --tag "${REPO_NAME}:${VERSION}-alpine" .
            for TAG in ${TAGS}; do
              docker tag "${REPO_NAME}:${VERSION}" "${REPO_NAME}:${TAG}"
            done
      - run:
          name: Test Docker Image
          command: |
            apk add --no-cache curl
            curl -LO https://storage.googleapis.com/container-structure-test/latest/container-structure-test-linux-amd64 && chmod +x container-structure-test-linux-amd64 && mv container-structure-test-linux-amd64 /usr/local/bin/container-structure-test
            container-structure-test test --config "${VERSION%.*}/container-structure-test.yml" --image "${REPO_NAME}:${VERSION}"
      - run:
          name: Save Docker Image(s) to Cache
          command: |
            if [[ ! -e /cache ]]; then
              mkdir /cache
            fi
            docker save --output "/cache/${VERSION}.tar" "${REPO_NAME}"
      - save_cache:
          key: v4-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ .Revision }}
          paths:
            - /cache
      - persist_to_workspace:
          root: /cache
          paths:
            - "*"

  push:
    executor: docker
    environment:
      <<: *environment
    steps:
      - attach_workspace:
          at: /cache
      - setup_remote_docker
      - run:
          name: Load Docker Image(s) from Cache
          command: |
            for TAR in $(ls -1 /cache/*.tar); do
              docker load --input "${TAR}"
            done
      - run:
          name: Publish Docker Image
          command: |
            echo "${DOCKERHUB_PASS}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
            for TAG in $(docker image ls --format "{{.Repository}}:{{.Tag}}" "${REPO_NAME}"); do
              docker push "${TAG}"
            done
      - run:
          name: Update MicroBadger
          command: |
            apk add --no-cache curl
            curl --request POST "${MICROBADGER_WEBHOOK}"

  update-description:
    executor: docker
    environment:
      <<: *environment
    steps:
      - checkout
      - run:
          name: Install docker-pushrm
          command: |
            if [[ ! -d "$HOME/.docker/cli-plugins" ]]; then
              mkdir -p "$HOME/.docker/cli-plugins"
            fi
            wget https://github.com/christian-korneck/docker-pushrm/releases/download/v1.5.0/docker-pushrm_linux_amd64 -O "$HOME/.docker/cli-plugins/docker-pushrm"
            chmod +x "$HOME/.docker/cli-plugins/docker-pushrm"
      - run:
          name: Update Docker Hub Description
          command: |
            echo "${DOCKERHUB_PASS}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
            docker pushrm "${REPO_NAME}" --short "$(cat README.md | grep '^\w' | head -1)"

workflows:
  version: 2.1
  build-test-push:
    jobs:
      - lint:
          name: "4.2-lint"
          version: "4.2"
      - lint:
          name: "4.1-lint"
          version: "4.1"
      - lint:
          name: "4.0-lint"
          version: "4.0"
      - lint:
          name: "3.3-lint"
          version: "3.3"
      - dummy:
          name: "lint"
          requires:
            - "4.2-lint"
            - "4.1-lint"
            - "4.0-lint"
            - "3.3-lint"

      # https://github.com/qbittorrent/qBittorrent/releases
      - build:
          name: "4.2-build-test"
          version: "4.2.5"
          tags: 4.2 4.2-alpine 4 4-alpine latest
          requires:
            - "lint"
      - build:
          name: "4.1-build-test"
          version: "4.1.9"
          tags: 4.1 4.1-alpine
          requires:
            - "lint"
      - build:
          name: "4.0-build-test"
          version: "4.0.4"
          tags: 4.0 4.0-alpine
          requires:
            - "lint"
      - build:
          name: "3.3-build-test"
          version: "3.3.16"
          tags: 3.3 3.3-alpine 3 3-alpine
          requires:
            - "lint"
      - dummy:
          name: "test"
          requires:
            - "4.2-build-test"
            - "4.1-build-test"
            - "4.0-build-test"
            - "3.3-build-test"
      
      - push:
          requires:
            - test
          filters:
            branches:
              only: master

      - update-description:
          requires:
            - test
            # - push
          filters:
            branches:
              only: master
