version: 2.1

references:
  environment: &environment
    REPO_NAME: emmercm/qbittorrent

executors:
  docker:
    docker:
      - image: docker:stable

jobs:
  build:
    parameters:
      base_image:
        type: string
      version:
        type: string
      tags:
        type: string
        default: ''
    executor: docker
    environment:
      BASE_IMAGE: << parameters.base_image >>
      VERSION: << parameters.version >>
      TAGS: << parameters.tags >>
      <<: *environment
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v4-{{ .Branch }}-{{ .Environment.VERSION }}-{{ .Revision }}
            - v4-{{ .Branch }}-{{ .Environment.VERSION }}-
          paths:
            - /cache
      - run:
          name: Load Docker Image(s) from Cache
          command: |
            for TAR in $(ls -1 /cache/*.tar); do
              docker load --input "${TAR}"
            done
      - run:
          name: Build Docker Image
          command: |
            docker pull ${REPO_NAME}:${VERSION} || true
            docker build \
              --cache-from=${REPO_NAME}:${VERSION} \
              --build-arg BASE_IMAGE=${BASE_IMAGE} \
              --build-arg VERSION=${VERSION} \
              --tag ${REPO_NAME}:${VERSION} \
              --tag ${REPO_NAME}:${VERSION}-${BASE_IMAGE%:*} .
            for TAG in ${TAGS}; do
              docker tag ${REPO_NAME}:${VERSION} ${REPO_NAME}:${TAG}
            done
      - run:
          name: Save Docker Image(s) to Cache
          command: |
            if [[ ! -e /cache ]]; then
              mkdir /cache
            fi
            docker save --output /cache/${VERSION}.tar ${REPO_NAME}
      - save_cache:
          key: v4-{{ .Branch }}-{{ .Environment.VERSION }}-{{ .Revision }}
          paths:
            - /cache
      - persist_to_workspace:
          root: /cache
          paths:
            - "*"

  push:
    executor: docker
    environment:
      <<: *environment
    steps:
      - attach_workspace:
          at: /cache
      - setup_remote_docker
      - run:
          name: Load Docker Image(s) from Cache
          command: |
            for TAR in $(ls -1 /cache/*.tar); do
              docker load --input "${TAR}"
            done
      - run:
          name: Publish Docker Image
          command: |
            echo "${DOCKERHUB_PASS}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
            for TAG in $(docker image ls --format "{{.Repository}}:{{.Tag}}" ${REPO_NAME}); do
              docker push ${TAG}
            done

  update-description:
    executor: docker
    environment:
      <<: *environment
    steps:
      - checkout
      - run:
          name: Update Docker Hub Description
          command: |
            apk add --no-cache curl jq
            TOKEN=$(curl \
              --silent \
              --request POST \
              https://hub.docker.com/v2/users/login/ \
              --header "Content-Type: application/json" \
              --data '{"username":"'"${DOCKERHUB_USERNAME}"'", "password":"'"${DOCKERHUB_PASS}"'"}' | \
              jq -r .token)
            jq \
              --null-input \
              --arg DESCRIPTION "$(cat README.md | grep '^\w' | head -1)" \
              --arg FULL_DESCRIPTION "$(cat README.md)" \
              '{"description":$DESCRIPTION, "full_description":$FULL_DESCRIPTION}' | \
              curl \
                --request PATCH \
                https://hub.docker.com/v2/repositories/${REPO_NAME}/ \
                --header "Content-Type: application/json" \
                --header "Authorization: JWT ${TOKEN}" \
                --data @-

workflows:
  version: 2.1
  build-push:
    jobs:
      # https://github.com/qbittorrent/qBittorrent/releases
      - build:
          name: 4.1.*
          base_image: emmercm/libtorrent:1.1-alpine
          version: 4.1.5
          tags: 4.1 4.1-alpine 4 4-alpine latest
      
      - push:
          requires:
            - 4.1.*
          filters:
            branches:
              only: master

      - update-description:
          requires:
            - push
          filters:
            branches:
              only: master
